@import url('../HW3_css2/css/reset.css');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #5b5a5a;
}

.wrapper{
    /* border: 3px solid #ff0000; */
    width: 1200px;
    height: 1700px;
    margin: 0 auto;
}


/* <!-- Top Bar --> */
.topbar{
    /* border: 2px solid #12ff02; */
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}


.topbar img{
    float: left;
}


.topbar ul{
    float: right;
    padding-top: 40px;
    
}


.topbar li{
    float: left;
    padding-left: 35px;
    
}


.topbar a{
    text-decoration: none;
    color: #5b5a5a;
}

.topbar a:hover{
	color: #cf9574;
}

/* Top */
.top{
    /* border: 2px solid #3a5af8; */
    background-image: url(img/main_kv.jpg);
    width: 1200px;
    height: 675px;
    padding-left: 40px;
    padding-top: 100px;
   box-sizing: border-box;
}

.top h1{
    font-size: 80px;
    color: #cf9574;
    font-weight: bold;
    padding-bottom: 10px;
}


.top h2{
    font-size: 32px;
    padding-bottom: 30px;
}


.top a{
    display: block;
    width: 200px;
    background-color: #fff;
    color: #8a8a8a;
    line-height: 2;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.top a:hover{
	color: #cf9574;
}


.top p{
    line-height: 1.5;
}


/* buttom */

.buttom h1{
    font-size: 80px;
    color: #cf9574;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}


.buttom h3{
    font-size: 28px;
    text-align: center;
    padding: 10px 200px;
    line-height: 1.5;
}


.list{
   overflow: hidden;
   clear: both;
   margin: 40px 80px;
   
   
  
}


.list li img{
    width: 310px;
    height: 301px;
}

.list li{
    float: left;
    margin-right: 35px;
    background-color: #746969;
    line-height: 1.5;
    width: 310px;
    
   

}


.list li h4{
    color: #ffffff;
    font-size: 24px;
    padding-top: 20px;
    margin-left: 20px;
}


.list li p{
    width: 310px;
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 10px 20px;
}


.buttom a{
    display: block;
    width: 200px;
    background-color: #746969;
    color: #ffffff;
    line-height: 2;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.buttom a:hover{
	color: #cf9574;
}