@import url(reset.css);

/* 基本樣式 */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
}

.Header img {
    height: 50px;
}

.HeaderRight {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.CartAndPrice, .SearchAndUser {
    display: flex;
    align-items: center;
}

.MemberList {
    display: none;
}

/* 寬度為744px的斷點樣式 */
@media (max-width: 744px) {
    .Header {
        flex-direction: column;
    }
    .Header img {
        margin-bottom: 10px;
    }
    .HeaderRight {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .CartAndPrice, .SearchAndUser {
        width: 100%;
        justify-content: space-between;
    }
    .fa-bars {
        display: block;
    }
    .CartAndPrice {
        order: 1;
    }
    .SearchAndUser {
        order: 2;
    }
}
